name: Compilation and Tests

on:
  workflow_call:
    inputs:
      name: 
        description: 'Name of the tool to compile'
        required: true
        type: string
      systest:
        description: 'Whether to run pysys-tests after compilation'
        default: false
        type: boolean

jobs:
  build-debug-utest:
    permissions:
      checks: write
      pull-requests: write
    runs-on: ubuntu-latest
    concurrency:
      group: compile-testing-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-tags: true

      - name: Configure ${{ inputs.name }}
        uses: apes-suite/build-action@v2.0.0
        with:
          waf-args: "configure"

      - name: Compile build ${{ inputs.name }}
        uses: apes-suite/build-action@v2.0.0
        with:
          waf-args: "build"

      - name: Compile debug ${{ inputs.name }}
        uses: apes-suite/build-action@v2.0.0
        with:
          waf-args: "debug"

      - name: Publish UTest Results
        uses: EnricoMi/publish-unit-test-result-action@v2.19.0
        with:
          files: |
            build/**/waf-utest.xml
          check_name: "Waf Unit Tests"

      - name: Run system tests
        if: inputs.systest == true
        id: pysys
        uses: apes-suite/pysys-action@v1.0.2

      - name: Upload PySys archive artifacts for any test failures
        if: always() && inputs.systest == true && steps.pysys.outputs.artifact_TestOutputArchiveDir
        uses: actions/upload-artifact@v4.6.2
        with:
          name: pysys_output
          path: ${{ steps.pysys.outputs.artifact_TestOutputArchiveDir }}
          
      - name: Show testrundir
        run: ls -la ${{ steps.pysys.outputs.testrundir }}
        shell: bash

      - name: Publish SysTest Results
        if: always() && inputs.systest == true
        uses: EnricoMi/publish-unit-test-result-action@v2.19.0
        with:
          files: |
            ${{ steps.pysys.outputs.artifact_JUnitXMLResultsDir }}/*.xml
          check_name: "System Tests"
